.aadsso-login-form-text {
	text-align: center;
	padding: 20px 0px 30px 0px;
}

.aadsso-login-form-text a.dim, 
.aadsso-login-form-text a.dim:visited, 
.aadsso-login-form-text a.dim:active, 
.aadsso-login-form-text a.dim:link {
	text-decoration: none;
	color: #aaa;
}

input {
	display: none !important;
}

label {
	display: none !important;
}

.forgetmenot {
	display: none !important;
}

.submit {
	display: none !important;
}

.login form {
	padding: 26px 46px;
}

.aadsso-login-form-text {
	padding: 0;
}

#nav {
	display: none !important;
}